[*.cs]

# SA1401: Fields should be private
dotnet_diagnostic.SA1401.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# CS0659: Type overrides Object.Equals(object o) but does not override Object.GetHashCode()
dotnet_diagnostic.CS0659.severity = none

# SA1611: Element parameters should be documented
dotnet_diagnostic.SA1611.severity = none

# SA0001: XML comment analysis is disabled due to project configuration
dotnet_diagnostic.SA0001.severity = none

# IDE0044: Add readonly modifier
dotnet_style_readonly_field = true:none
